# security
# deleted .keys/ since folder was empty
# not moving .env and .envrc into .keys/ to not break anything
.env
.envrc
.python-version

# folders
data/
website/.streamlit/

# SoundByte
*.mp3

# chaching
*.pyc
*:Zone.Identifier

